[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/reynard"]
	path = .themes/reynard
	url = https://github.com/hyfather/reynard.git
