---
layout: default
title: "home"
date: 2013-06-16 12:48
comments: true
sharing: true
footer: true
---

<div id="front-wrapper">
  <div id="hero">
    <div id="hero-inner" >
      <div class="container">
        {% include custom/intro.html %}
      </div>
    </div>
  </div>
  <section id="sub-hero">
    <div class="container">
      {% include custom/widgets.html %}
      <div class="row">
		<div class="span5">
		<h2>The Drive.</h2>
<p>At Cliff Drive, you can find nearly five miles of paved road that winds around beautiful 
rock and forested landscape. Every weekend, the Drive is open only to bikes and pedestrians 
looking for a unique path that’s conveniently located at the North end of Kansas City, 
but feels like a whole other world.</p>
		</div>
		<div class="span5">
		<h2>The Site.</h2>
<p>CliffDriveKC.org is your resource for all events and groups associated
with this unique and thrilling Scenic Byway. Check out ways that Cliff
Drive can be your weekend recreation spot any week of the year, and find
out about all the groups that join up here at Cliff Drive for their
sports, athletic events, and recreational activities, by clicking on
Events</p>
		</div>
		<div class="span2">{% include custom/asides/found_on.html %}
		</div>
      
    </div>
  </section>
  <div class="container">
    <div class="row" id="post-container">
      <article class="span6 aside" style="background-image: url('images/cliff/entrance-3.jpg'); ">
        {% include custom/asides/driving.html %}
      </article>
      <article class="span6 aside" style="background-image: url('images/cliff/biking.jpg'); ">
        {% include custom/asides/cycling.html %}
      </article>
      <article class="span6 aside" style="background-image: url('images/cliff/hiking.jpg'); ">
        {% include custom/asides/hiking.html %}
      </article>
      <article class="span6 aside" style="background-image: url('images/cliff/entrance-2.jpg'); ">
        {% include custom/asides/dogs.html %}
      </article>
      <article class="span6 aside" style="background-image: url('images/cliff/fishing-2.jpg'); ">
        {% include custom/asides/fishing.html %}
      </article>
      <article class="span6 aside" style="background-image: url('images/cliff/climbing-3.jpg'); ">
        {% include custom/asides/climbing.html %}
      </article>
      <article class="span6 aside" style="background-image: url('images/cliff/frisbee.jpg'); ">
        {% include custom/asides/frisbee.html %}
      </article>
    </div>
     
  </div>
</div>

